<ion-header>
  <ion-toolbar  color="dark">
    <ion-title color="primary"> <img width="150px" src="../assets/logo.png"> |  Mis Inversiones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card>
      <ion-item class="no_sombra">    
        <ion-label slot="start">TODOS TUS MOVIMIENTOS A LA FECHA</ion-label>
        <ion-label slot="end">Tu saldo disponible es de:
          <ion-text style="color: rgb(33, 93, 231);"> <strong> {{ balance | currency }}  </strong> </ion-text>
        </ion-label>
      </ion-item>

      <ion-row>
        <ion-col size="3">
          <ion-card class="no_sombra"> 
            <ion-card-header>
              <ion-card-content style="text-align: right;">MXN</ion-card-content>
              <ion-card-title  style="text-align: center;"> <strong> {{ depositos_totales | currency }} </strong> </ion-card-title>
              <ion-card-content  style="text-align: center;">Depositos totales</ion-card-content>
            </ion-card-header>
          </ion-card>
        </ion-col>

        <ion-col size="3">
          <ion-card class="no_sombra"> 
            <ion-card-header>
              <ion-card-content style="text-align: right;">MXN</ion-card-content>
              <ion-card-title  style="text-align: center;"> <strong> {{ retiros_totales | currency }} </strong> </ion-card-title>
              <ion-card-content  style="text-align: center;">Retiros totales</ion-card-content>
            </ion-card-header>
          </ion-card>
        </ion-col>

        <ion-col size="3">
          <ion-card class="no_sombra"> 
            <ion-card-header>
              <ion-card-content style="text-align: right;">MXN</ion-card-content>
              <ion-card-title style="color: rgb(33, 93, 231); text-align: center;"> <strong> {{ inversiones_totales | currency }} </strong> </ion-card-title>
              <ion-card-content  style="text-align: center;">Inversiones totales</ion-card-content>
            </ion-card-header>
          </ion-card>
        </ion-col>

        <ion-col size="3">
          <ion-card class="no_sombra"> 
            <ion-card-header>
              <ion-card-content style="text-align: right;">MXN</ion-card-content>
              <ion-card-title style="color: rgb(11, 133, 72); text-align: center;"> <strong> {{ ganancias_totales | currency }} </strong> </ion-card-title>
              <ion-card-content style="text-align: center;">Ganancias totales</ion-card-content>
            </ion-card-header>
          </ion-card>
        </ion-col>
    </ion-row>
  </ion-card>

</ion-content>
