.transparente{
    border-color: rgba(0, 0, 0, 0);
	background-color: rgba(0, 0, 0, 0);
}

.no_sombra{
    box-shadow: none !important;
    background-color: transparent;
}

.list-md{
    padding-top: 0px;
    margin: 0%;
}