<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay" [swipeGesture]="false" color="primary">
      
      <ion-content>
        <ion-list color="dark" class="list-md" id="inbox-list">
  
          <ion-item  color="dark" (click)='dashboard()' class="transparente">
            <ion-card class="no_sombra"> 
                <ion-card-content style="text-align: center;">
                  <img src="../assets/icon/dashboard.png" height="70px"><br>
                  <h2>Dashboard</h2> 
                </ion-card-content>
            </ion-card>
          </ion-item>
  
          <ion-item  color="dark" (click)='oportunidades()'>
            <ion-card class="no_sombra">               
                <ion-card-content style="text-align: center;">
                  <img src="../assets/icon/oportunidad.png" height="70px"><br>
                  <h2>Oportunidades <br> de inversión</h2> 
                </ion-card-content>            
            </ion-card>
          </ion-item>

          <ion-item  color="dark" (click)='inversiones()'>
            <ion-card class="no_sombra"> 
                <ion-card-content style="text-align: center;">
                  <img src="../assets/icon/inversiones.png" height="70px"><br>
                  <h2>Mis inversiones</h2> 
                </ion-card-content>
            </ion-card>
          </ion-item>
  
          <ion-item  color="dark" (click)='estadoCuenta()'>
            <ion-card class="no_sombra"> 
                <ion-card-content style="text-align: center;">
                  <img src="../assets/icon/estado_cuenta.png" height="70px"><br>
                  <h2>Estado de cuenta</h2> 
                </ion-card-content>
            </ion-card>
          </ion-item>
  
      </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
