<ion-header>
  <ion-toolbar  color="dark">    
    <ion-title color="primary"> <img width="150px" src="../assets/logo.png"> |  Estado Cuenta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card > 
    <ion-card-header>
      <ion-card-content>
        <div class="container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Fecha</th>
        <th scope="col">Movimiento</th>
        <th scope="col">Operación</th>
        <th scope="col">Monto MXN</th>
        <th scope="col">Disponible MXN</th>
      </tr>
    </thead>
    <tbody *ngFor="let item of resultados">
      <tr>        
        <td>{{item.creation_dt | date: 'dd MMM yyyy'}}</td>
        <th scope="row">          
          {{ getMovimientos(item.model_type, item.transaction_type) }} 
          {{ movimiento }} <img width="17px" src="../../assets/icon/{{ name }}">
        </th>
        <td>
          <label *ngIf="item.operation !== null">ID: {{item.operation | slice:0:8}}</label> 
            <label *ngIf="item.operation === null" >  <img width="17px" src="../../assets/icon/no.png"> </label> 
        </td>
        <td> {{item.amount | currency}} </td>
        <td> {{ getMonto(item.amount) }} {{ amount | currency}}</td>
      </tr>
    </tbody>
  </table>
</div>
</ion-card-content>
</ion-card-header>
</ion-card>
</ion-content>