<ion-header>
  <ion-toolbar  color="dark">
    <ion-title color="primary"> <img width="150px" src="../assets/logo.png"> |  Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="center">
      <img src="../assets/logo2.png" height="80px"><br>
      <h1>Prueba FrontEnd Developer</h1>
    </div>
  </div>
</ion-content>
